<h1>Корзина</h1>

<ul>
  <%
     if (@cart)
        @cart.line_items.each do |item|
  %>
      <li><%= item.product.title %> &mdash; <%= item.quantity %> &times; <%= number_to_currency(item.total_price) %></li>
  <%
        end
  %>
      <li><strong>Итого: <%= number_to_currency(@total_price) %></strong></li>
      <li><%= button_to 'Очистить корзину', @cart, method: :delete, data: {confirm: 'Вы уверены?'} %></li>
  <%
     else
  %>
        <li>Корзина пуста</li>
  <%
     end
  %>
</ul>