<p id="notice"><%= notice %></p>

<ul>
    <% @cart.line_items.each do |item| %>
        <li><%= item.product.title %> &mdash; <%= item.quantity %> &times; <%= item.product.price %></li>
    <% end %>
    <li><strong>Итого: <%= @total_price %></strong></li>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
