<!DOCTYPE html>
<html>
<head>
  <title>Hotfix &mdash; <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="layout">
    <header class="header">
        <div class="header__logo">
            <%= image_tag 'logo.png' %>
        </div>
        <nav class="nav">
            <a href="/">Главная</a>
            <a href="/products">Продукты</a>
            <a href="/cart"><b>Корзина</b></a>
        </nav>
    </header>
    <section class="content">
        <%= yield %>
    </section>
    <footer class="footer">
      Copyright
    </footer>
</div>
</body>
</html>
